---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
>

<h1>About me</h1>
<ul>
	<li><a href="/">Home</a></li>
	<li><a href="/blog/">Blog</a></li>
	<li><a href="/about/">About</a></li>
</ul>

<h2>これは Astro によるサイト構築の練習です</h2>

</Layout>
